html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  }

button{
  cursor: pointer;
}  

button:focus{
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* APP.COMPONENT  */
.app-outer-container {
  padding: 1rem;
  max-width: 1024px;
  margin: auto;
}

h1 {
  font-size: 18px;
  text-align: center;
}

.app-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 640px) {
  h1 {
    font-size: 24px;
  }
}

/* NEWGAME.COMPONENT */

.new-game-form {
  display: flex;
  flex-direction: column;
}

.new-game-form > label {
  margin-bottom: 0.25rem;
  text-align: center;
}

.new-game-form > input::placeholder {
  text-align: center;
}

.new-game-form > input {
  margin-bottom: 0.5rem;
  border: black 1px solid;
  padding: 0.2rem;
  text-align: center;
}

.new-game-form > button {
  background-color: white;
  border: green 1px solid;
  padding: 0.2rem 0.5rem;
  transition: all 0.2s;
  color: green;
}

.new-game-form > button:hover{
  background-color: green;
  color: white;
}


.new-game-ongoing-container > h2{
  text-align: center;
  font-size: 20px;
}

.new-game-ongoing-container > button{
  width: 100%;
  background-color: transparent;
  border: black 2px solid;
  padding: 0.5rem;
  font-size: 18px;
}

.new-game-ongoing-container > button:hover{
  background: black;
  color: white;
}

.new-game-ongoing-home,
.new-game-ongoing-away {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.new-game-ongoing-home{
  border: green 2px solid
}

.new-game-ongoing-home > button {
  border: green 1px solid;
  color: green;
}

.new-game-ongoing-home > button:hover{
  background-color: green;
  color: white;
}

.new-game-ongoing-home > button,
.new-game-ongoing-away > button  {
  background-color: white;
  padding: 0.2rem 0.5rem;
  transition: all 0.2s;
}

.new-game-ongoing-away > button{
  border: red 1px solid;
  color: red;
}
.new-game-ongoing-away > button:hover{
  background-color: red;
  color: white;
}

.new-game-ongoing-home > button:hover{
  background-color: green;
  color: white;
}

.new-game-ongoing-away{
  border: red 2px solid
}


@media (min-width: 640px) {
  .new-game-form > label {
    font-size: 20px;
  }
  .new-game-form > input {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    font-size: 16px;
  }

  .new-game-form > button,
  .new-game-ongoing-away >button, 
  .new-game-ongoing-home >button {
    padding: 0.75rem 0.5rem;
    font-size: 18px;
    text-transform: uppercase;
  }

  .new-game-ongoing-home > p,
.new-game-ongoing-away > p {
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
}
}
 
/* GAMESSUMAMRY.COMPONENT */

.games-summary-container{
  margin-top: 2rem;
}

.games-summary-container > h2{
  font-size: 18px;
   text-align: center;
}

.games-summary-item{
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-bottom: 2px solid black;
}






/* .app-inner-container{
  background-color: blue;
  padding: 100px;
} */